@font-face {
    font-family: Futura;
    src: url("futura.ttf");
}
html{
    background-color:  #EF3E4A;
    font-family: Futura;
}
h1{
    text-align: center;
    margin-top: 25vh;
    color: white;
    font-size: 7vw;
    margin-bottom: 0;
}
p{
    text-align: center;
    color: white;
    margin-top: 4vh;
    font-size: 1.5vw;
}
a{
    color: white;
}