@font-face {
  font-family: Futura;
  src: local('Futura'), url('futura.ttf');
  font-weight: bold;
}

:root {
  --color-foreground: #111;
  --color-background: #fff;
  --color-primary: #ef3e4a;
  --color-white: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --font-sans: Futura, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, Lucida Console, Liberation Mono,
    Courier New, monospace;
}
@media (prefers-color-scheme: dark) {
  :root {
    --accents-1: #111;
    --accents-2: #333;
    --accents-3: #444;
    --accents-4: #666;
    --accents-5: #888;
    --accents-6: #999;
    --accents-7: #eaeaea;
    --accents-8: #fafafa;
    --color-foreground: var(--accents-8);
    --color-background: #000;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
p {
  margin: 1rem 0;
  font-size: 1em;
  line-height: 1.625em;
  font-family: var(--font-mono);
}
a {
  color: var(--color-primary);
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
  margin: 0 0 0.625rem;
  color: inherit;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
  letter-spacing: -0.066875rem;
  font-weight: 700;
}
h2 {
  font-size: 2.25rem;
  letter-spacing: -0.020625rem;
}
.showcase h2,
.faq h2,
h3 {
  font-size: 1.5rem;
  letter-spacing: -0.029375rem;
}
p.lead,
.team h3,
h4 {
  font-size: 1.25rem;
  letter-spacing: -0.020625rem;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
p.lead {
  max-width: 56ch;
}
p.lead strong {
  color: var(--color-primary);
  font-weight: 800;
}

#banner {
  padding: 1rem 0;
  color: white;
  background-color: var(--accents-6);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url(https://cincyhacks.com/assets/create2.jpg);
  background-size: cover;
  background-position: center;
}
#banner img {
  width: 128px;
  height: 128px;
}
#banner h1,
#banner h2,
#banner p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#banner h1 {
  margin-bottom: 1.5rem;
}
#banner h2 {
  font-size: 1.5rem;
}

body > section {
  padding: 2rem 0;
}
.container {
  width: 100%;
  max-width: 980px;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.showcase {
  padding: 2rem 0;
  display: grid;
  grid-gap: 1rem;
}
.showcase h2 {
  margin-bottom: 1rem;
}
.showcase h2 span {
  color: var(--color-primary);
}
.showcase p {
  margin: 0;
  color: var(--accent-5);
  font-size: 0.875rem;
  letter-spacing: 0.029375rem;
}
.showcase img {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
}

@media (min-width: 32em) {
  .container {
    padding: 2rem;
  }
  .showcase {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .showcase div:nth-of-type(1),
  .showcase img:nth-of-type(1),
  .showcase img:nth-of-type(2) {
    align-self: end;
  }
}

.btn {
  background-color: var(--color-white);
  color: var(--color-primary) !important;
  display: inline-block;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  cursor: pointer;
  padding: 0.625rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.066875rem;
  font-weight: bold;
  text-decoration: none !important;
  border-radius: 5px;
  margin: 0;
  transition: transform 0.125s ease-in-out;
}
.btn:hover,
.btn:focus {
  transform: scale(1.0625);
}
#banner .btn {
  color: var(--color-white) !important;
  background-color: var(--color-primary);
  margin-top: 1rem;
}

#register {
  padding: 2rem 0;
  background-color: var(--color-primary);
  color: var(--color-background);
}
.registerContainer {
  display: grid;
  grid-gap: 1rem;
}

#faq h1,
#schedule h1,
#sponsors h1,
#team h1 {
  color: var(--color-primary);
}

#schedule__container {
  display: flex;
  flex-flow: row nowrap;
}

.schedule {
  width: 50%;
  height: 100%;
}
.schedule__header {
  font-size: 28px;
  text-align: center;
}
.schedule__time {
  text-align: right;
  padding-right: 20px;
}
.schedule__event {
}

#team,
#faq {
  background-color: var(--accents-1);
}
#team h1,
.faq h1 {
  text-align: center;
  margin-bottom: 0;
}
.faq p {
  color: var(--accents-7);
}
.faqContainer {
  display: grid;
  grid-gap: 1rem;
}
.faqContainer > div {
  margin: 0;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  color: var(--color-foreground);
  background-color: var(--color-background);
  border: 1px solid var(--accents-2);
}

.team {
  margin-top: 1.5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.team > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.team > div img {
  border-radius: 9999px;
  width: 128px;
  height: 128px;
}
.team > div h3 {
  margin: 0.5rem 0 0.25rem;
}
.team > div p {
  margin: 0;
  font-size: 0.875rem;
  color: var(--accents-6);
}

.footerContainer,
.registerContainer {
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 32em) {
  #team h1,
  .faq h1 {
    margin-top: 1rem;
  }
  .faqContainer,
  .team {
    grid-template-columns: repeat(3, 1fr);
  }
  .registerContainer {
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
    align-items: center;
  }
  .footerContainer {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

#footer {
  background-color: var(--accents-6);
  padding: 2rem 1rem;
}
#footer p {
  font-size: 0.875rem;
  color: var(--accents-2);
  margin: 0;
  padding-left: 3ch;
  text-indent: -3ch;
}
#footer p::before {
  content: '// ';
  color: var(--accents-3);
}

#register a,
#footer a {
  color: var(--accents-1);
}

#tierOneSponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#tierOneSponsors img {
  max-width: 15rem;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media only screen and (max-width: 1234px) {
  #schedule__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .schedule {
    width: 100%;
    height: auto;
  }

  .schedule__header {
    text-align: left;
  }

  .schedule__time {
    width: 100px;
  }
  .schedule__event {
    width: auto;
  }
}
